<p id="notice"><%= notice %></p>

<p>
  <strong>Widget:</strong>
  <%= @widget.widget %>
</p>

<p>
  <strong>Thing:</strong>
  <%= @widget.thing %>
</p>

<%= link_to 'Edit', edit_widget_path(@widget) %> |
<%= link_to 'Back', widgets_path %>
